* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f3f3f3;
  color: #333;
  margin: 35;
  padding: 35;
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.logo {
  background-image: url("../imagens/logo.png");
  width: 100px;
  height: 50px;
  display: block;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}

.menu-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu a {
  color: #000;
  font-size: 15px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav a:hover {
  color: #640f4f;
}

.aviao-topo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  background-image: url("../imagens/aviao.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.formulario {
  background-color: #640f4f;
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  border-radius: 15px;
  padding: 30px 40px;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.abas {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}

.abas a {
  background: white;
  color: #640f4f;
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s;
}

.abas a.ativa,
.abas a:hover {
  background: #7d3169;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.linha {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.campo {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.campo label {
  font-size: 14px;
  margin-bottom: 6px;
}

.campo input,
.campo select {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 100%;
}

.campo.pequeno {
  flex: 0.8;
}

.datas {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.botoes {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.btn {
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.btn.buscar {
  background: white;
  color: #640f4f;
}

.btn.secundario {
  background: #7d3169;
  color: white;
}

.btn:hover {
  opacity: 0.9;
}

select {
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}

select:hover {
  border: 2px solid #a14f8a;
}

select:focus {
  border: 2px solid #7d3169;
}

.destinos {
  background-color: #f5f5f5;
  padding: 50px 80px;
  font-family: 'Poppins', sans-serif;
}

.destinos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.destinos-header h2 {
  font-size: 28px;
  margin-bottom: 8px;
  color: #222;
}

.destinos-header p {
  color: #666;
}

.btn-fora-brasil {
  background-color: #5e0049;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-fora-brasil .seta {
  font-size: 18px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.cardsPagamento {
  background-color: #5a0c35;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 25px;
  border-radius: 25px;
}

.card {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.info {
  padding: 15px 20px;
}

.info h3 {
  font-size: 20px;
  margin: 5px 0;
  color: #333;
}

.info p {
  color: #444;
  font-size: 14px;
  margin-bottom: 15px;
}

.info button {
  background-color: #5e0049;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
}

.info button:hover {
  background-color: #7c0062;
}

a {
  text-decoration: none;
}


.logo {
  background-image: url("../imagens/logo.png");
  width: 100px;
  height: 50px;
  display: block;
}

.container {
  width: 90%;
  margin: 40px auto;
  background: #fff;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.containerPagamento {
  width: 80%;
  margin: 40px auto;
  background: #650f4f80;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  color: #222;
  margin-bottom: 40px;
}

.colunas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.coluna a {
  display: block;
  text-decoration: underline;
  color: #222;
  margin-bottom: 12px;
  font-size: 17px;
}

.top-right-icon {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 40px;
  height: 40px;
  border: 2px solid #c84664;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c84664;
  font-size: 22px;
  font-weight: bold;
}

.btn {
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.logoVoltar {
  display: flex;
  justify-content: right;
  gap: 20px;
  flex-wrap: wrap;
}

.btn.secundario {
  background: #7d3169;
  color: white;
}

.btn:hover {
  opacity: 0.9;
}

.club-container {
  width: 100%;
  max-width: 1500px;
  background-color: #A76F93;
  padding: 60px;
  display: flex;
  gap: 50px;
  border-radius: 30px;
  align-items: stretch;
}

.left-card {
  flex: 2;
  background-color: #B485A7;
  padding: 50px;
  border-radius: 30px;
}

.left-card h2 {
  font-size: 45px;
  font-weight: bold;
  color: #000;
  margin-bottom: 25px;
}

.left-card p {
  font-size: 30px;
  color: #000;
  line-height: 1.4;
  margin-bottom: 25px;
}

.left-card .link {
  font-size: 30px;
  color: #175fe8;
  text-decoration: none;
}

.cards-right {
  flex: 3;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.club-card {
  background-color: #8D5282;
  width: 200px;
  height: 550px;
  border-radius: 30px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.club-box {
  width: 100%;
  max-width: 1400px;
  background: #A76F93;
  border-radius: 30px;
  padding: 60px;
  position: relative;
}

.club-title {
  position: absolute;
  top: -25px;
  left: 60px;
  background: #5A0C35;
  color: #fff;
  font-size: 45px;
  padding: 15px 30px;
  border-radius: 15px;
  font-weight: bold;
}

.club-content {
  background: #B485A7;
  padding: 80px 60px;
  border-radius: 25px;
}

.club-content h1 {
  font-size: 48px;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 60px;
  color: #000;
}

.club-content h1 strong {
  font-weight: bold;
}

.club-content h2 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 70px;
  color: #000;
}

.btn-assinar {
  background: #5a0c35;
  border: none;
  color: white;
  font-size: 28px;
  padding: 20px 80px;
  border-radius: 40px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: 0.2s;
}

.opcao-pagamento {
  display: flex;
  align-items: left;
  gap: 20px;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 12px;
  cursor: pointer;
  background: #fff;
  margin-bottom: 12px;
}

.opcao-pagamento img {
  height: 75px;
}

.opcao-pagamento input {
  display: none;
}

.opcao-pagamento input:checked+.content {
  border: 2px solid #5A0C35;
  background: #e9f1ff;
}


.opcao-pagamento input:checked+.content {
  border-color: #5A0C35;
  background: #ffffff;
}