* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f3f3f3;
    color: #333;
}

/* Topo */
.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #640f4f;
}

.logo span {
    color: #7d3169;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

nav a:hover {
    color: #640f4f;
}

/* Banner */
.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    background-image: url("../imagens/aviao.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Formulário */
.formulario {
    background-color: #640f4f;
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 30px 40px;
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

/* Abas */
.abas {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}

.abas a {
    background: white;
    color: #640f4f;
    padding: 10px 25px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
}

.abas a.ativa,
.abas a:hover {
    background: #7d3169;
    color: white;
}

/* Campos */
form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.linha {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.campo {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

.campo label {
    font-size: 14px;
    margin-bottom: 6px;
}

.campo input,
.campo select {
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    width: 100%;
}

.campo.pequeno {
    flex: 0.8;
    /* menos apertado */
}

.datas {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.btn {
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.btn.buscar {
    background: white;
    color: #640f4f;
}

.btn.secundario {
    background: #7d3169;
    color: white;
}

.btn:hover {
    opacity: 0.9;
}

select {
    width: 300px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    cursor: pointer;
}

select:hover {
    border: 2px solid #a14f8a;
}

select:focus {
    border: 2px solid #7d3169;
}